body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #7f00ff, #00c6ff);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.container {
  text-align: center;
}

#status {
  margin-top: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}
